html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit; 
}
html, body {
  height: 100vh; 
  margin: 0px;
  padding: 0px; 
  width: 100vw;
}

:root {
  /* Primary */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  /* Neutral */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  align-items: center; 
  background-color: var(--white);
  /* background-image: url('../images/bg-pattern-top-desktop.svg'); */
  display: flex; 
  font-family: 'Spartan', sans-serif;
  font-size: 15px; 
  justify-content: center; 
}
main {
  display: flex; 
  flex-direction: column;
  height: 75%;
  justify-content: space-between;
  width: 80%;
}
.upper {
  display: flex; 
  height: 100%;
  outline: 1px solid green;
  padding: 5px;
  width: 100%;
}
.info {
  display: flex; 
  flex-direction: column; 
  width: 50%;
  /* outline: 2px solid red;  */
}
.info p:first-child {
  color: var(--very-dark-magenta);
  font-size: 320%;
  font-weight: 500;
  height: 65%;
  letter-spacing: -1px;
  line-height: 50px;
  margin: 0;
}
.info p:last-child {
  color: var(--dark-grayish-magenta);
  font-size: 80%;
  width: 75%;
}






.lower{
  height: 100%;
  outline: 1px solid blue;
  padding:8px;
  width: 100%;
}
.reviews {
  display: flex;
}




.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}