html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit; 
}
html, body {
  height: 100vh; 
  margin: 0px;
  padding: 0px; 
  width: 100vw;
}

:root {
  /* Primary */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  /* Neutral */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  align-items: center; 
  background-color: var(--white);
  /* background-image: url('../images/bg-pattern-top-desktop.svg'); */
  display: flex; 
  font-size: 15px; 
  justify-content: center; 
}
main {
  display: flex; 
  flex-direction: column;
  height: 75%;
  justify-content: space-between;
  outline: 2px solid red; 
  width: 90%;
}
.upper {
  outline: 1px solid green;
  display: flex; 
  height: 100%;
}
.lower{
  height: 100%;
  outline: 1px solid blue;
}
.reviews {
  display: flex;
}




.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}